@import "./global.css";

body {
  background-color: rgb(11, 12, 24);
}

.header-hero {
  padding: 8.5rem 7rem;
  display: flex;
  align-items: center;
}

.header-hero img {
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  margin-right: 12rem;
}

.icons-box {
  display: flex;
}

.hero-text-box {
  background-color: rgba(255, 245, 245);
  padding: 3rem 4rem;
  border-radius: 1rem;
}

.hero-text-box h3 {
  font-size: 2.7rem;
  line-height: 3.5rem;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-family: "Open Sans";
  color: #000;
  -webkit-text-stroke: 1px #000000;
}

.special-box h2 {
  display: flex;
  justify-content: center;
  font-size: 3.8rem;
  line-height: 4.3rem;
  font-family: "Open Sans";
  color: #000;
  -webkit-text-stroke: 1px #000000;
  background-color: rgba(255, 245, 245);
  padding: 2rem 3.5rem;
  width: 60rem;
  border-radius: 1rem;
  margin: auto auto 5rem auto;
}

.icons-box {
  display: flex;
  align-items: end;
  justify-content: center;
  column-gap: 10rem;
}

.icons-box h3 {
  color: rgb(255, 255, 255);
}

h3 {
  font-size: 2rem;
  line-height: 2.3rem;
  color: #000;
}

.icon {
  width: 9rem;
}

h3 {
  transition: 0.5s;
}

.special-box h2:hover {
  -webkit-text-stroke: 2px #000000;
  color: transparent;
}

h3:hover {
  -webkit-text-stroke: 2px #000000;
  color: transparent;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

/* ? */

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30rem;
  column-gap: 10rem;
  row-gap: 2rem;
}

.portfolio {
  background-color: rgba(0, 128, 0, 0.8);
  border: 2px solid #00ff00;
  border-radius: 15px;
  padding: 2.5rem;
  margin: 10px;
  width: 35rem;
  box-shadow: 0 0 10px #00ff00;
}

.portfolio:hover {
  background-color: rgba(3, 75, 3, 0.8);
}

.portfolio h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.portfolio p {
  margin: 5px 0;
}

@media screen and (max-width: 980px) {
  .special-box {
    flex-wrap: wrap;
  }

  .header-hero img {
    margin-right: 8rem;
  }

  .header-hero {
    padding: 4.5rem 5.5rem;
  }
}

@media screen and (max-width: 890px) {
  .header-hero {
    flex-direction: column;
  }

  .icons-box {
    column-gap: 5rem;
  }

  .header-hero img {
    margin-bottom: 2.5rem;
  }

  .header-hero {
    padding: 4.5rem 5.5rem;
  }
}

@media screen and (max-width: 680px) {
  .hero-text-box h3 {
    font-size: 1.7rem;
  }

  .hero-text-box {
    padding: 1.5rem 2rem;
  }

  .special-box h2 {
    padding: 1rem 1rem;
    font-size: 2.5rem;
    width: 40rem;
  }

  .icon {
    width: 5rem;
  }

  .header-hero img {
    width: 20rem;
    height: 20rem;
    margin: 0 0 2rem 0;
  }

  /* .header-hero {
    flex-direction: column;
  }

  .icons-box {
    column-gap: 5rem;
  }

  .header-hero img {
    margin-bottom: 2.5rem;
  }

  .header-hero {
    padding: 4.5rem 5.5rem;
  } */
}

@media screen and (max-width: 600px) {
  .icons-box {
    column-gap: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .icon {
    width: 3rem;
  }

  .icons-box {
    text-align: center;
  }

  .hero-text-box h3 {
    font-size: 1.3rem;
  }

  .hero-text-box {
    padding: 2rem 5rem;
  }
}

@media screen and (max-width: 470px) {
  .icon {
    width: 3rem;
  }

  .icons-box {
    column-gap: 1.3rem;
  }

  .hero-text-box h3 {
    font-size: 1.3rem;
  }

  .hero-text-box {
    padding: 2rem 5rem;
  }

  .special-box h2 {
    font-size: 1.6rem;
    padding: 0.8rem 1rem;
    width: 30rem;
  }
}

@media screen and (max-width: 430px) {
  .icons-box {
    flex-wrap: wrap;
    row-gap: 1.5rem;
  }

  .hero-text-box h3 {
    font-size: 1.3rem;
  }

  .hero-text-box {
    padding: 2rem 5rem;
  }

  .special-box h2 {
    font-size: 1.4rem;
    padding: 0.8rem rem;
    width: 23rem;
  }
}
